@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    color: #000;
    font-family: 'PT Serif', serif;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat Subrayada', sans-serif;
}